<div class="header">
  <h1>Qfilter</h1>
  <h6>An experimental Steem content filter</h6>
</div>

<% @feed = @feed.sort_by{ |i| i['score'] }.reverse %>
<% @feed.each do |x| %>
  <div class="post">
    <div class="image">
      <% if !x['image'].nil? %>
        <img src="<%= x['image'] %>">
      <% end %>
    </div>
    <div class="content">
      <p><%= link_to x['title'], x['url'] %></p>
      <p><%= x['score'] %></p>
      <p><%= x['author'] %></p>
    </div>
  </div>
<% end %>

