html {
  background-color: #0f1f1f;
}

body {
  font-family: "Helvetica";
}

.header {
  h1, h6 {
    color: #ffffff;
    margin-left: 20%;
  }
  border-bottom: 3px solid #00ff00;
  text-align: center;
}

.post {
  height: 160px;
  border-bottom: 1px solid #00ff00;
}

.image {
  width: 20%;
  height: 160px;
  display: inline-block;
  vertical-align: top;
  margin-left: 25%;
  img { 
    padding-top: 20px;
    height: 75%;
    width: 80%;
  }
}

.content {
  width: 40%;
  height: 160px;
  display: inline-block;
  vertical-align: bottom;
  padding-right: 8%;
  p { 
    overflow: hidden;
    color: #ffffff;
  }
}

.score {
  width: 10px;
  height: 160px;
  display: inline-block;
  p {
    padding-left: 50%;
    color: #ffffff;
  } 
}

a {
  color: #00ff00;
  text-decoration: none;
}

.menu {
  border-right: 3px solid #00ff00;
  background-color: #0f1f1f;
  position: fixed;
  height: 100%;
  width: 20%;
  bottom: 0;
  h3 {
    text-align: center;
    color: #ffffff;
  }
  p {
    text-align: center;
  }
}