html {
  background-color: #0f1f1f;
}

body {
  font-family: san-serif;
}

.header {
  h1, h6 {
    color: #ffffff;
    margin-left: 260px;
  }
  border-bottom: 3px solid #00ff00;
  text-align: center;
}

.post {
  border-bottom: 1px solid #00ff00;
  height: 150px;
}

.image {
  display: inline-block;
  margin: 15px;
  margin-left: 305px;
  img { 
    height: 120px; 
    width: 200px;  
  }
}

.content {
  display: inline-block;
  vertical-align: top;
  margin: 15px 0px 0px 30px;
  p { 
    color: #ffffff;
  }
}

.author {
  display: inline-block;
  vertical-align: top;
  float: right;
  margin: 15px 15px;
  p {
    color: #ffffff;
  } 
}

a {
  color: #00ff00;
  text-decoration: none;
}

.menu {
  border-right: 3px solid #00ff00;
  background-color: #0f1f1f;
  position: fixed;
  height: 100%;
  width: 260px;
  bottom: 0;
  h3 {
    text-align: center;
    color: #ffffff;
  }
  p {
    text-align: center;
  }
}