html {
  background-color: #2f4f4f;
}

body {
  font-family: san-serif;
}

.header {
  h1, h6 {
    color: #ffffff;
  }
  border-bottom: 3px solid #00ff00;
  text-align: center;
}

.post {
  border-bottom: 1px solid #00ff00;
  height: 150px;
}

.image {
  display: inline-block;
  margin: 15px;
  width: 25%;
  img { 
    height: 120px; 
    width: 200px;  
  }
}

.content {
  display: inline-block;
  vertical-align: top;
  margin: 15px 0px 0px 0px;
  width: 60%;
  p { 
    color: #ffffff;
    a {
      color: #00ff00;
      text-decoration: none;
      &:hover{
        font-weight: bold;
      }
    }
  }
}