<div class="interior">
  <h3>Top 20 Contributors</h3>
  <% count = 1 %>
  <% Contributor.find_best(20).each do |con| %>
    <p><%= count %>. 
       <%= link_to con.username, "https://steemit.com/@" + con.username %>: 
       <%= con.score - con.checkpoint %>
    </p>
    <% count += 1 %>
  <% end %>
</div>

