<div class="interior">
  <% if !@contributor.nil? %> 
  <h3><%= @contributor.username %></h3>
  <p>Weight: <%= @contributor.weight.round(2) %></p>
  <% else %>
  <p>This username is not found in the q-filter network</p>
  <% end %>
</div>
