<div class="menu">
  <h3>Resources</h3>
  <p><%= link_to "Top Participants", participants_path %></p>
  <h3>Top Categories</h3>
  <% Post.top_categories(12).each do |cat| %>
    <p><%= link_to cat, "/cat/" + cat %></p>
  <% end %>
</div>
