<div class="menu">
  <h3>Feeds</h3>
  <p><%= link_to "Stake-based", stake_path %></p>
  <p><%= link_to "Reputation-based", reputation_path %></p>
  <p><%= link_to "Contribution-based", contribution_path %></p>
  <h3>Resources</h3>
  <p><%= link_to "Top Contributors", contributors_show_path %></p>
</div>
