<div class="menu">
  <h3>Feeds</h3>
  <p><%= link_to "Participant-based", participation_path %></p>
  <p><%= link_to "Stake-based", stake_path %></p>
  <p><%= link_to "Reputation-based", reputation_path %></p>
  <h3>Resources</h3>
  <p><%= link_to "Top Participants", participants_path %></p>
</div>
